<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="filesize" value="100" />
    <add key="filecount" value="1000" />
    <add key="folder" value="" />
    <add key="log" value="False" />
  </appSettings>
</configuration>